.skill {
  position: relative;
  &__svg-shape {
    width: 168px;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }
}