/* Triangles svg
============================================================================================ */
.triangles {
  color: #fff;
  position: relative;
  display: flex;
  height: 120px;
  margin-top: -120px;
  z-index: 1;

  &__shape {
    flex-basis: 50%;
    height: 120px;
    fill: currentColor;
  }
}

.triangles--budda {
  height: 90px;
  margin-top: 0;
  margin-bottom: -90px;

  .triangles__shape {
    height: 90px;
    flex-basis: 100%;
  }
}