/* Triangles svg
============================================================================================ */
.triangles {
  color: #fff;
  position: relative;
  display: flex;
  height: 120px;
  margin-top: -120px;
}

.triangles__shape {
  flex-basis: 50%;
  height: 120px;
  fill: currentColor;
}