.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3e3e59;
  background-image: linear-gradient(to right, #3e3e59 0%, #454573 100%);
  padding: 15px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    align-items: center;
  }

  &__title {
    color: rgba(#ffffff, .5);
    font-size: 14px;
    line-height: 1.5;
    margin-left: 28px;
  }

  &__btn {

  }
}