include ../../../mixins.pug

header.header
  .page__container
    .header__container
      .header__info
        .user.user--admin-header
          .user__column
            +avatarVue("content/user.jpg", 45)
          .user__column
            .user__row.user__name Владимир Астаханов
        .header__title Панель администрирования
      .header__btn
        button(type="button" @click="logoutTheUser").btn--exit Выйти