-
  var menu = [
    {href: '#home', text: 'Главная'},
    {href: '#about', text: 'Обо мне' },
    {href: '#skills', text: 'Навыки' },
    {href: '#works', text: 'Работы' },
    {href: '#reviews', text: 'Отзывы' },
    {href: '#feedback', text: 'Связаться' }
  ]

mixin menu(mod)
  <!-- Menu -->
  if (mod === 'header')
    nav.menu
      ul.menu__list
        each item in menu
          li.menu__item
            a(href= item.href).menu__link= item.text
  else
    .menu
      ul.menu__list
        each item in nav
          li.menu__item
            a(href= item.href).menu__link= item.text