.tabs
  .container.tabs__container
    ul.tabs__list
      li.tabs__item
        button(type="button").btn.tabs__btn Обо мне
      li.tabs__item
        button(type="button").btn.tabs__btn Работы
      li.tabs__item
        button(type="button").btn.tabs__btn Отзывы