.login {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__content {
    width: 563px;
    padding: 50px 77px 60px;
    background: #fff;
  }

  &__form {

  }

  &__row:not(:last-child) {
    margin-bottom: 40px;
  }
  &__title {
    text-align: center;
    margin-bottom: 34px;
  }

  &__btn {
    display: flex;
    justify-content: center;
  }
}