include ../blocks/form-elements.pug
include ../blocks/button.pug
.root-wrapper-container
  //include ../blocks/login.pug
  //include ../blocks/header-admin.pug
  //include ../blocks/tabs.pug
  section.admin-about
    .container.admin-about__container
      .admin-about__header
        .admin-about__title Блок «Обо мне»
        .admin-about__button
          button(type="button").btn.btn--add.btn--text Добавить группу
      .admin-about__content
        .card
          ul.card__list
            // первый
            li.card__item
              .card__wrapper
                .card__row
                  .card__title Workflow
                  .card__controls
                    .controls
                      .controls__btn
                        button(type='button').btn.btn-icon--check
                      .controls__btn
                        button(type='button').btn.btn-icon--cancel
                .card__row
                  .skills
                    .skills__row
                      .skills__cell
                        input(type="text" value="HTML5").admin-form__input.admin-form__input--small
                      .skills__cell
                        input(type="text" value="25").admin-form__input.admin-form__input--small
                      .skills__cell
                        .controls
                          .controls__btn
                            button(type='button').btn.btn-icon--check
                          .controls__btn
                            button(type='button').btn.btn-icon--cancel
                    - for (let i = 0; i < 5; i++)
                      .skills__row
                        .skills__cell HTML
                        .skills__cell 20 %
                        .skills__cell
                          .controls
                            .controls__btn
                              button(type='button').btn.btn-icon--edit
                            .controls__btn
                              button(type='button').btn.btn-icon--delete
                .card__row
                  form.add-new-skill.is-blocked
                    .add-new-skill__cell
                      input(type="text", placeholder='Новый навык').admin-form__input.admin-form__input--small
                    .add-new-skill__cell
                      input(type="number").admin-form__input.admin-form__input--small
                    .add-new-skill__cell
                      button(type="submit").btn.btn--add.btn--big
            // воторой
            li.card__item
              .card__wrapper
                .card__row
                  .card__input
                    input(type="text", placeholder='Название новой группы').admin-form__input
                  .card__controls
                    .controls
                      .controls__btn
                        button(type='button').btn.btn-icon--check
                      .controls__btn
                        button(type='button').btn.btn-icon--cancel
                .card__row
                  .skills
                    - for (let i = 0; i < 5; i++)
                      .skills__row
                        .skills__cell HTML
                        .skills__cell 20 %
                        .skills__cell
                          .controls
                            .controls__btn
                              button(type='button').btn.btn-icon--edit
                            .controls__btn
                              button(type='button').btn.btn-icon--delete
                .card__row
                  form.add-new-skill
                    .add-new-skill__cell
                      input(type="text", placeholder='Новый навык').admin-form__input.admin-form__input--small
                    .add-new-skill__cell
                      input(type="number").admin-form__input.admin-form__input--small
                    .add-new-skill__cell
                      button(type="submit").btn.btn--add.btn--big