.user {
  display: flex;
  align-items: center;
  &__avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }

  &__name {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
  }
}